<div class="row justify-content-md-center">
  <div class="col-6">
    <h2 class="display-4">Contact me</h2>
    <hr class="my-4">
  </div>
</div>
<!--form structure goes here...-->
<div class="row justify-content-md-center">
    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-10">
        <form>
            <div class="form-group">
                <label for="fullName">Full Name</label>
                <input type="text" class="form-control" id="fullName" placeholder="Enter your full name..." aria-describedby="fullName" name="fullName" required>
              </div>

              <div class="form-group">
                <label for="contactNumber">Contact Number</label>
                <input type="tel" class="form-control" id="contactNumber" placeholder="Enter your Contact number..."aria-describedby="contactNumber" name="contactNumber" required>
              </div>

              <div class="form-group">
                <label for="emailAddress">Email Address</label>
                <input type="email" class="form-control" id="emailAddress" placeholder="Enter your email address..."aria-describedby="emailAddress"name="emailAddress" required>
              </div>

              <div class="form-group">
                <label for="message">Your Message</label>
                <textarea class="form-control" id="message" placeholder="enter your message here..."rows="3" name="message"></textarea>
              </div>
            <button type="submit" class="btn btn-primary" id="sendButton"><i class="far fa-envelope"></i> Send</button>
            <button type="cancel" class="btn btn-warning" id="cancelButton"><i class="fas fa-undo"></i> Cancle</button>
          </form>
          <p>Note: the above form is not Implemented with database (just for show...)</p>
<br><br><h5>You can contact me through <a href="mailto:rhpatel1605@gmail.com">rhpatel1605@gmail.com</a></h5>
    </div>
</div>



