
<br><br>
<!--Welcome Message-->
<div class="container">
  <h1>Welcome, and thank you for taking the time to view my Portfolio.<h1><br>
  <h3>The Goal of this Portfolio is to give you a deeper insight into my
  experiences and skills I have gained in first four semesters in Software
  Engineering Technology.<br><br> <!--To watch my projects go to projects page from 
  navigation or click on below button.<br>
  <a href="/views/partials/projects.ejs"><button type="goToProjects" class="btn btn-primary" id="goToProjects"><i class="fas fa-tasks-alt"></i> Projects</button></a>--></h3>
  </div>

  
