<br><br>
<div class="container">
    <!--three projects-->
        <h2>Some of Projects:<h2> 
        <hr>

        <h3>1) The Surveyors: In our Web Application Development course our team has developed an express site to create
            surveys. We have focused mainly on the backend functionalities and the expertise I have gained from this
            project are for Database management (MongoDB), Express.js, Node.js, HTML, CSS, problem solving skills and
            teamwork. (Semester-03)</h3>
        <a href="http://thesurveyors.herokuapp.com/" target="_blank"><button type="button" class="btn btn-outline-dark">The Surveyors</button></a>
        <br><br>
        <h3>2) In my first semester, I have learnt basic in html & css, and made frontend for a footwear website. These web pages aren't particularly complicated, but they were enjoyable to create during my first semester.</h3>
        <a href="http://studentweb.cencol.ca/rpate613/ruchit/index.html" target="_blank"><button type="button" class="btn btn-outline-dark">Footwear Website</button></a>
        <br><br>
        <h3>3) I built an appealing survey page for college in one of my college assignments. This was again just front-end. (Semester-01)</h3>
        <a href="http://studentweb.cencol.ca/rpate613/webdesign/assignment_4/assignment_4.html" target="_blank"><button type="button" class="btn btn-outline-dark"> Survey Page</button></a>
        <br><br>
        <h3>4) In my Mobile Application Development’s project, I developed an android app that contain Graphics and Animations, as well as practicing frame-by-frame animations. (Semester-04)</h3>
        <img src="./Assets/images/final.png" style="width:700px; height:400px; display: block;
        margin-left: auto;
        margin-right: auto;" alt="mobile app">
        <% if(typeof displayName == 'string' && displayName) { %>

            <a href="https://www.youtube.com/watch?v=7_XyezwP9iI" target="_blank"><button type="button" class="btn btn-outline-dark"> Explained Video</button></a>
        
        <% } else { %>
          <p style="color:red"></p><a href=""><button type="button" class="btn btn-outline-dark"> Explained Video</button></a>
            *please login</p>
        
        <% } %>
        <br><br>
        <h3>5) Implemented a WPF app in my Programming-III (c#) to load data (.csv) into memory and display it in a DataGrid. (Semester-04)</h3>
        <img src="./Assets/images/displayData.png" style="width:700px; height:400px; display: block;
        margin-left: auto;
        margin-right: auto;" alt="WPF app">
        <% if(typeof displayName == 'string' && displayName) { %>

            <a href="https://www.youtube.com/watch?v=P0C1EcdqsNU&t=33s" target="_blank"><button type="button" class="btn btn-outline-dark"> Explained Video</button></a>

        <% } else { %>
          <p style="color:red"></p><a href=""><button type="button" class="btn btn-outline-dark"> Explained Video</button></a>
            *please login</p>
        
        <% } %>
        


        <br><br>
</div>
<br><br>

