<br><br>
<div class="container">
<!--One row containing three cards-->
<div class="row">
    <div class="col-sm">
        <div class="card" style="width: 18rem; height:20rem;">
          <img src="/Assets/images/generalprogramming.webp" class="card-img-top" alt="...">    
          <div class="card-body">
          <h5 class="card-title">General Programming</h5>
          <p class="card-text">We provide  codes like Java, JavaScript, Python, and many more.</p>
          </div><br>
        </div>
    </div>
      <div class="col-sm">
        <div class="card" style="width: 18rem; height:20rem;">
              <img src="/Assets/images/mobileapp.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Mobile Apps</h5>
              <p class="card-text">We also provide the services for mobile applications and softwares.</p>
            </div>
      </div>
    </div>
    <div class="col-sm">
        <div class="card" style="width: 18rem; height:20rem;">
          <img src="/Assets/images/webdevelopment.jpg" class="card-img-top" alt="...">
          <div class="card-body">
          <h5 class="card-title">Web development</h5>
          <p class="card-text">We also provide the services for all kind web applications.</p>
          </div>
        </div>
    </div>
  </div>
</div>

